{% extends 'base.html' %}
{% load subscription %}

{% block title %}{{ block.super }} | all question{% endblock %}


{% block content %}
<div class="intro">
    <h1 class="heading">Get your question answered quickly</h1>
    <h3 class="subhead">Answerme makes it easy to get your qustione answer through our online community.</h3>
</div>
  <!-- Question From -->
<div class="questions">
     <div class="question-wrapper">
         <div class="ask-box">
           <div class="w-form">
            {% include 'question/snippets/question_form.html' %}
            <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
           </div>
         </div>
    <!--<p><a href="{% url 'question:add_question' %}">Ask a question</a></p>-->
        <div class="container">
            <div class="question">
        <div class="question-info">
          <h1 class="question-title">How to become a master python and django developer within a few months?</h1>
          <div class="question-data"><a href="#" class="user w-inline-block"><img src="images/about-image.jpg" srcset="images/about-image-p-500.jpeg 500w, images/about-image.jpg 700w" sizes="35px" class="avator"><div class="name">Travis Neilson</div></a><a href="#" class="time">Asked 4 hours ago</a><a href="#" class="answer-count">9 Answers</a></div>
        </div>
        <div class="question-answer">
          <div class="answer-inner"><a href="#" class="user w-inline-block"><img src="images/about-image.jpg" srcset="images/about-image-p-500.jpeg 500w, images/about-image.jpg 700w" sizes="35px" class="avator"><div class="name">Travis Neilson</div></a>
            <p class="answer-para">When people think of UX Design documentation, the first image that comes to mind is dense, long, and heavily annotated wireframes, full of boxes and arrows that indicate how a system is going to function and behave.</p>
          </div>
          <div class="write-answer">
            <div class="form-block w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><input type="text" class="asnwer-input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Write an answer" id="name-2"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
    {% for question in questions %}
    <div class="question">
        <div class="question-info">
          <h1 class="question-title">{{ question }}</h1>
          <div class="question-data">
            <a href="#" class="user w-inline-block">
              <img src="{% if question.user.profile.photo %}
                                {{ question.user.profile.photo.url }}
                        {% else %}
                                http://placehold.it/64x64
                        {% endif %}"
                    sizes="35px" class="avator">
              <div class="name">
                      {% if question.user %}
                        {{ question.user.username }}
                      {% else %}
                        Anonymous User
                      {% endif %}
             </div>
            </a>
              <p class="time">Asked 4 hours ago</p>
              <p class="answer-count">Total answer : {{ question.answers.count }}</p>
              <p >
              <a href="{% url 'question:detail' pk=question.pk %}">detail</a></p>
              <small>
                  {% if request.user.is_authenticated %}
                      {% subscription_button request.user question.id %}
                  {% endif %}
              </small>
          </div>
        </div> <!-- question info -->
            <!-- Answer -->
           {% for answer in question.answers.all %}
           <div class="question-answer">
                <div class="answer-inner">
                    <a href="#" class="user w-inline-block"><img src="images/about-image.jpg" srcset="images/about-image-p-500.jpeg 500w, images/about-image.jpg 700w" sizes="35px" class="avator">
                    <div class="name">{% if answer.user %}{{ answer.user }}{% else %}Anonymous User{% endif %}</div></a>
                <p class="answer-para">{{ answer.text }}</p><br>
                </div>

            {% endfor %}
            <div class="write-answer">
                <div class="form-block w-form">
                  <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><input type="text" class="asnwer-input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Write an answer" id="name-2"></form>
                  <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                  <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                </div>
            </div>
                </div>
    </div>
    {% endfor %}
        </div>
    </div>
</div>

        {% if questions.has_next %}
            <a class="infinite-more-link" href="?page={{ questions.next_page_number }}">More</a>
        {% endif %}

        <div class="loading" style="display: none;">
            Loading...
        </div>
        {% block javascript %}
            <script>
                var infinite = new Waypoint.Infinite({
                    element: $('.infinite-container')[0],
                    onBeforePageLoad: function () {
                        $('.loading').show();
                    },
                    onAfterPageLoad: function ($items) {
                        $('.loading').hide();
                    }
                });
            </script>
        {% endblock %}
{% endblock %}
