{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}LOG IN{% endblock %}
{% block content %}
  <h1>login</h1>


  <form class='form' id="login_form" method="post" action="">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="login" />
  </form>

    <h1>OR</h1>
 <a href="{% provider_login_url 'facebook' process='login' %}">Login with Facebook</a><br>
    <h6>Don't have none of this?</h6>
    <a class="btn btn-outline" href="{% url 'accounts:signup' %}"> Create a account</a>
{% endblock  %}